<Doctype! html>
    <html>
        <head>
            <title>Week chart</title>
        <link rel="stylesheet" href="/css/styles.min.css">
        </head>
        <body>
     <div class="centered-form">
         <div class="centered-form__box">
            <h1>login<h1>
                <form method="POST" action="/login">
                    <label>Email</label>
                <input name="email" type="email" placeholder="Email">
                <label>Password</label>
                <input name="password" type="password" placeholder="password">
                <button type="submit"> Login</button>
                </form>
         </div>
         </div>

        </body>
    </html>