<Doctype! html>
    <html>
        <head>
            <title>Week Chart</title>
        <link rel="stylesheet" href="/css/styles.min.css">
        </head>
        <body>
     <div class="centered-form">
         <div class="centered-form__box">
            <h1>Register<h1>
                <h1>{{message}}<h1>
                <form action="/register" method="POST">
                <label>Username</label>
                <input name="username" type="text" placeholder="Username">
                <label>Email</label>
                <input name="email" type="Email" placeholder="Email">
                <label>Password</label>
                <input name="password" type="password" placeholder="Password">
                <label>Number</label>
                <input name="contact" type="text" placeholder="Contact">
                <button type="submit"> Login</button>
                </form>
         </div>
         </div>

        </body>
    </html>