<Doctype! html>
    <html>
        <head>
            <title>Week chart</title>
        <link rel="stylesheet" href="/css/styles.min.css">
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        </head>
        <body>
     <div class="centered-form">
         <div class="centered-form__box">
            <h1>Add Topic<a><i class="fa fa-plus-circle" id="add" style="margin-left:6%;"></i></a></h1>
                <form>
                <input class="topic" type="text" id=0>
                <button id="btn">add</button></form>
         </div>
         </div>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/addtopic.js"></script>
        </body>

    </html>